---
import Navbar from "../components/Navbar.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import LocationIcon from "../../public/media/location.svg?raw";
import { addAttributesToInnerHTMLString } from "../data/utils";
import { projects } from "../data/index.data";
import Card from "../components/Card.astro";
import Logo from "/public/media/logo_blanco.svg?raw";
import LinkedIn from "/public/media/linkedin.svg?raw";
import CTA from "../components/CTA.astro";

const locationIcon = addAttributesToInnerHTMLString(LocationIcon, {
  width: "2.5rem",
  height: "3rem",
  fill: "rgb(var(--accent-light))",
});

const logoHTML = addAttributesToInnerHTMLString(Logo, { class: "logo-svg" });
---

<Layout title="Baruch Cerna | Desarrollador Web">
  <!-- <Navbar /> -->
  <Section>
    <div class="header-container">
      <div class="row">
        <div class="info">
          <p class="location">
            <Fragment set:html={locationIcon} /> Ciudad de México
          </p>
          <a
            href="https://www.linkedin.com/in/alan-baruch/"
            class="logo"
            target="_blank"
            aria-label="Baruch Cerna LinkedIn"
          >
            <Fragment set:html={LinkedIn} />
          </a>
        </div>
        <a href="/" class="logo" aria-label="Baruch Cerna Logo">
          <Fragment set:html={logoHTML} />
        </a>
      </div>
      <div class="title">
        <h1 class="enter">Soy Baruch Cerna</h1>
        <h2 class="enter-2">Desarrollador Web</h2>
      </div>
      <CTA text="Trabajemos juntos" />
      <p>
        Tengo más de 5 años diseñando soluciones y escribiendo código que ha
        ayudado a resolver problemas para startups y empresas multinacionales.
        Me encanta enfrentar nuevos retos y buscar transformar ideas en
        experiencias digitales que agreguen valor a las empresas y a los
        usuarios.
      </p>
      <p><em id="quote">"Una respuesta simple es más elegante."</em></p>
    </div>
  </Section>
  <Section>
    <h3 id="path">Trayectoria</h3>
    <p>
      Aprendí a programar desde los 16 años, en la preparatoria, ahí descubrí mi
      pasión por la tecnología. Estudié Ingeniería en Sistemas Computacionales
      en la Escuela Superior de Cómputo del Instituto Politécnico Nacional en la
      Ciudad de México, México.
    </p>
    <ul class="path-list">
      <li>
        <b
          >Marzo 2020 - Noviembre 2020: Desarrollador Full Stack en Maison Maya.</b
        > Una empresa de bienes raíces e inversiones. Desarrollé un sistema web para
        gestión de inventario y un CRM personalizado.
      </li>
      <li>
        <b>
          Noviembre 2020 - Presente: Cofundador y Desarrollador Web en Zöku.</b
        >
        También en el sector de bienes raíces e inversiones. En Zöku, desarrollé
        un catálogo en línea para remates bancarios, implementé estrategias de SEO
        y diseñé mi propia interfaz.
      </li>
      <li>
        <b>
          Septiembre 2022 - Presente: Desarrollador Full Stack en Go-Sharp.</b
        >
        Go-Sharp es ahora Artificial Dynamics, una empresa de desarrollo de software
        B2B. He desarrollado sistemas empresariales de alto rendimiento para clientes
        como Nestlé, Sony y Danhos.
      </li>
      <li>
        <b>Presente: Desarrollador Web independiente.</b>
        Me dedico a crear soluciones web, desarrollo desde páginas web hasta sistemas
        empresariales. Exploro la web desde el punto de vista de los usuarios buscando
        hacer productos de calidad.
      </li>
    </ul>
  </Section>
  <Section>
    <h3 id="projects">Proyectos</h3>
    <p>
      La adaptabilidad y la innovación son claves para superar los retos y
      alcanzar el objetivo. A lo largo de mi experiencia, he desarrollado
      soluciones eficientes y a medida, aplicando nuevas tecnologías y enfoques
      que aseguran resultados de alto impacto en cada etapa del proceso.
    </p>
    <div class="projects">
      {
        projects.map((project) => (
          <Card
            title={project.title}
            body={project.body}
            href={project.href}
            image={project.image}
            technologies={project.technologies}
          />
        ))
      }
    </div>
  </Section>
  <Section>
    <div class="cta-container">
      <CTA text="Contactame" />
    </div>
  </Section>
  <footer>
    <p>
      Hecho con ❤️ y <a href="https://astro.build" target="_blank">Astro</a>
      por
      <a href="https://github.com/baruch-cerna" target="_blank">Baruch Cerna</a>
    </p>
  </footer>
</Layout>

<style>
  .header-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 3rem;
    margin: 2rem 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 100px;
    margin: 0 17px;
  }

  h1 {
    font-size: 7rem;
    overflow-y: hidden;
  }

  h2 {
    font-size: 6rem;
    font-weight: normal;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }

  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    height: 100%;
    margin-top: 3rem;
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: calc(100vw - 4rem);
    gap: 1rem;
    margin: 2rem 0;
    overflow-x: auto;
    scrollbar-color: rgb(var(--accent-light)) rgb(var(--accent));
    scrollbar-width: thin;
  }

  .location {
    display: inline-flex;
    align-items: center;
    margin: 0;
  }

  .cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 4rem 0;
  }

  em {
    font-family: var(--font-mono);
    font-style: normal;
  }

  .path-list {
    border-left: 2px solid rgb(var(--accent-light));
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: disclosure-closed;

    & li {
      font-size: 1.5rem;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    padding: 2rem;
  }

  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 768px) {
    .header-container {
      gap: 1rem;
    }

    h1 {
      font-size: 5.5rem;
    }
    h2 {
      font-size: 4.5rem;
    }
    h3 {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 575px) {
    .header-container {
      gap: 1rem;
    }

    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }

    .projects {
      gap: 2rem;
    }

    .row {
      flex-direction: column-reverse;
    }

    .path-list {
      padding: 1.2rem;
      & li {
        font-size: 1.2rem;
      }
    }
  }
</style>
