---
import { Image } from "astro:assets";

interface Props {
  title: string;
  body: string;
  href: string;
  image: any;
  isOdd: boolean;
}

const { href, title, body, image, isOdd } = Astro.props;
---

<li class:list={["link-card", {"reverse": isOdd}]}>
  <a class="card-ref" href={href} target="_blank" rel="noopener noreferrer">
    <Image src={image} alt={title} inferSize loading={"lazy"} />
  </a>
  <div>
    <h3>
      {title}
      <span>&rarr;</span>
    </h3>
    <p>
      {body}
    </p>
  </div>
</li>
<style>
  .link-card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;
  }

  .link-card > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    text-decoration: none;
    line-height: 1.4;
  }

  .link-card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    padding: 1rem;
    transition: all 0.2s ease-in;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    margin: 0;
    color: rgb(var(--accent-light));
  }
  
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: rgb(var(--accent-light));
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .link-card:is(:hover, :focus-within) div {
    background-color: rgba(var(--accent), 0.7);
  }

  @media screen and (max-width: 575px) {
    .link-card {
      flex-direction: column;
      gap: 0;
    }
    .link-card > div {
      background-color: rgba(var(--accent), 0.7);
    }
</style>
