---
import { Image } from "astro:assets";

interface Props {
  title: string;
  body: string;
  href: string;
  image: string;
}

const { href, title, body, image } = Astro.props;
---

<li class="link-card">
  <a href={href} target="_blank" rel="noopener noreferrer">
    <Image src={image} alt={title} inferSize />
    <h3>
      {title}
      <span>&rarr;</span>
    </h3>
    <p>
      {body}
    </p>
  </a>
</li>
<style>
  .link-card {
    display: block;
    list-style: none;
    padding: 1px;
    width: 70%;
    aspect-ratio: 16/9;
    transition: all 0.2s ease-in-out;
  }
  .link-card > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    line-height: 1.4;
    position: relative;
    padding: 2rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  h3 {
    margin: 0;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0);
  }

  .link-card:is(:hover, :focus-within) {
    background-color: rgb(var(--accent));
  }

  .link-card:is(:hover, :focus-within) h3 {
    color: rgb(var(--accent-light));
  }
  .link-card:is(:hover, :focus-within) p {
    color: rgb(var(--accent-light));
  }

  @media screen and (max-width: 768px) {
    .link-card {
      width: 100%;
    }
  }
</style>
